.git
.env
vendor
node_modules
storage/logs
tests
phpunit.xml
.phpunit.result.cache
.phpunit.cache

*.tar.gz
*.tar
.hermes
docs/source
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/app/private
bootstrap/cache/*
!bootstrap/cache/.gitignore
